  <nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Pricing</a>
      </li>
      <li class="nav-item pull-xs-right">
        <%= login_or_logout%>
      </li>
    </ul>
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <!--  -->
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
          <a class="nav-link active" href="#">Sort By</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/margin">Margin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profit">Profit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salesrank">Salesrank</a>
        </li>
      </ul>
    <br/><br/>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved Items</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9 col-md-10">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="<%= path %>?page=<%= left_arrow(@page) %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% determine_count(@all_items).times do |n| %>
          <li class="page-item"><a class="page-link <%= n + 1 %>" href="/<%= path %>?page=<%= n + 1 %>"> <%= n + 1 %></a></li>
          <% end %>
          <li class="page-item">
            <a class="page-link" href="/<%= path %>?page=<%=right_arrow(@all_items, @page)%>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Walmart Price</th>
        <th>Lowest Amazon Price</th>
        <th>Salesrank</th>
        <th>Profit</th>
        <th>Margin</th>
        <th>Walmart link</th>
        <th>Amazon link</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
      <tr class="item-row">
        <th scope="row">1</th>
        <td> <%=  formatted_name(item) %></td>
        <td>$<%=  formatted_walmart_price(item) %></td>
        <td>$<%=  formatted_amazon_price(item) %></td>
        <td> <%=  formatted_salesrank(item) %></td>
        <td>$<%=  formatted_profit(item) %></td>
        <td> <%=  formatted_margin(item) %>%</td>
        <td> <%=  link_to "Walmart", item.productUrl %></td>
        <td> <%=  link_to "Amazon", item.amazon_url %></td>
        <td id="save" data-id="<%= item.id %>" class="saved"><button class="btn btn-secondary">Save</button></td>
      </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  </div>
</div>
